:root {
  --black: #1f1f1f;
  --white: #dadada;
  --grey: #7a7a7a;
}

/* Layout */
html {
  color: var(--white);
  background-color: var(--black);
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Responsiveness */
@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  footer p,
  footer form.grid {
    grid-column: 2 / 3;
  }
}

@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
  footer p,
  footer form.grid {
    grid-column: 3 / 4;
  }
}